.call-time{
    display: flex;

}
.call-time__el{
    padding: 7px;
    margin-bottom: 12px;
    background-color: #A4E1D8;
    transition: background-color .25s;
    cursor: pointer;
    
    @include media-breakpoint-up(xl) {
        padding: 11px 16px;
        margin-bottom: 20px;
    }

    & + .call-time__el{
        margin-left: 12px;
        @include media-breakpoint-up(xl) {
            margin-left: 20px;
        }
    }

    &--default{}

    &--manual{
        @include media-breakpoint-up(xl) {
            width: initial;
            display: flex;
            align-items: flex-end;
        }
    }
    &--active{
        background-color: #426667;
    }
}

.call-time__text{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    @include media-breakpoint-up(xl) {
        font-size: 28px;
        line-height: 120%;
    }
}

.call-time__input{
    background-color: transparent;
    border: none;
    border-bottom: #fff 1px solid;
    outline: none !important;
    color: #fff;
    width: 100%;
    font-size: 15px;
    padding: 0px;
    display: block;

    @include media-breakpoint-up(xl) {
        margin-bottom: 9px;
        width: initial;
        font-size: inherit;
    }
}